ion-header {
    --background: #009bd7!important;
    --ion-background-color-rgb: 0,155,215;
  }
  
  .header-styles{
    --background: #009bd7!important;
    padding-top:15px;
    padding-bottom:-100px;
  }
  
  .logo-header{
    padding-top: 20px;
    padding-bottom: 20px;
    width: 50%;    
  }
  
  ion-content{
    --ion-background-color: #fff;
    --ion-background-color-rgb: 236, 235, 238;
  }
  
  .carrito{
    width: 14% ;
      height: 14% ;
      margin-left: 65%;
      margin-bottom: 2% !important;
    --background: #009bd7;
    color: #fff !important;
    font-size: 25px;
  }
  
  .div-header{
    background-color: #009bd7;
    padding-bottom: 0.5%;
  }
  
  ion-menu-button{
    color: white;
    margin-left: 5%;
  }
  .icono{
    color: white;
    margin-left: 4%;
  }
  .container{
    align-self: center !important;
    background-color: #fff;
    padding-bottom: 10px !important;
    padding-top: 10px !important;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
  .title_seccion {
    color: #00a2dd;
    font-size: 24px;
    font-weight: 700;
    margin: 20px 0px;
}
.center{
    text-align: center !important;
}
.container1{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}
.result_search {
    background: #f2f2f2 !important;
    padding: 20px 0px !important;
    margin-bottom: 15px;
}
ion-searchbar {
    --icon-color: #fff; 
    --background: #00a2dd !important;
    --border-radius: 20px !important;
    --placeholder-color: #fff !important;
    --placeholder-opacity: 1;
   }
   .searchbar{
    margin-top: -5px !important;
    padding-top: 5px !important;
    width: 100% !important;
  }
  .mb-20{
      margin-bottom: 20px !important;
  }
  .img_product {
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1) !important;
    padding: 10px !important;
    border-radius: 30px !important;
    background-color: #fff !important;
    margin-left: 5px !important;
}
.img-fluid {
    max-width: 100%;
    height: auto;
}
img {
    vertical-align: middle;
    border-style: none;
}
.align-self{
    align-self: center !important;
}
.name_product {
    font-size: 19px !important;
    font-weight: 700 !important;
    color: #727070 !important;
    margin: 5px 0px !important;
    line-height: 20px !important;
}
.description_product {
    font-size: 17px !important;
    color: #727070 !important;
    line-height: 18px !important;
    margin: 5px 0px !important;
}
.mt-20{
    margin-top: 20px !important;
}
.form-group {
    margin-bottom: 1rem;
}
.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}
.padding{
    padding-left: 15px !important;
    padding-right: 15px !important;
}
.select_options{
    background-color: #fff;
    padding: 20px;
    margin: 15px 0px;
    width: 100% !important;
    border-radius: 20px;
}
.input-group{
    align-items: stretch;
    width: 100%;
    flex-wrap: wrap;
    position: relative;
    display: flex;
    border: 1px solid #ced4da;
    border-radius: 7px;
}
.custom_select{
    width: 100%;
    margin-right: auto !important;
    margin-left: auto !important;
}
ion-select::part(text) {
    color: #495057;
  }