<ion-header class="ion-no-border" mode="ios">
  <div class="div-header">
    <ion-toolbar class="header-styles">
      <img class="content-image" src="../../assets/img/LOGOS/LOGOS DRAZAMED_Mesa de trabajo 1.png" alt="">
    </ion-toolbar>
    <ion-buttons>
      <ion-button slot="start" class="icono" (click)="goBack()">
        <ion-icon size="large" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </div>
</ion-header>

<ion-content mode="md">
  <div class="container">
    <p class="title_seccion center">Ingresa un nuevo medicamento</p>
  </div>
  <div class="searchbar">
    <ion-searchbar  autocomplete="on"debounce="1000" [(ngModel)]="searchbarInput" (ionChange)="getItems($event)" placeholder="Busca aquí tus productos"></ion-searchbar>
    <div class="label">
      <ion-label class="description_product1">Busca o selecciona un medicamento para crear una alarma</ion-label>
    </div>
    <ion-list *ngIf="isItemAvailable" class="list">
      <ion-item  button *ngFor="let it of items " (click)="fillSearchbarText(it)">
        <ion-row class="result_search">
          <ion-col size="3" class="align-self img_product">
            <div *ngIf="it.imagen === false" >
              <img src={{base_url}}{{apiImg}}{{it.item_code}}{{apiUrl8}} class="mx-auto d-block" width="100%">
            </div>
            <div *ngIf="it.imagen === true" >
              <img src={{base_url}}{{imgUrl}} class="mx-auto d-block" width="100%">
            </div>
          </ion-col>
          <ion-col size="9" class="align-self">
             <p class="name_product">{{it.item_name}}</p>
             <p class="description_product">{{it.composition}}</p>
            </ion-col>
        </ion-row>
      </ion-item>
    </ion-list>
  </div>

</ion-content>