<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>193162804196-m502fhiir88rag6u73st6ladv2rk7olh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.193162804196-m502fhiir88rag6u73st6ladv2rk7olh</string>
	<key>API_KEY</key>
	<string>AIzaSyAdVgT5jqkjQOlMFlIICLhZh7FQwq6w3wg</string>
	<key>GCM_SENDER_ID</key>
	<string>193162804196</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.draz.drazamed</string>
	<key>PROJECT_ID</key>
	<string>drazamedapp</string>
	<key>STORAGE_BUCKET</key>
	<string>drazamedapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:193162804196:ios:1b4aa268c05b4b0b3425f1</string>
</dict>
</plist>