<ion-header class="ion-no-border" mode="ios">
  <div class="div-header">
  <ion-toolbar class="header-styles">
  <img class="content-image" src="../../assets/img/LOGOS/LOGOS DRAZAMED_Mesa de trabajo 1.png" alt="">
  </ion-toolbar>
    <ion-buttons>
      <ion-button slot="start" class="icono" (click)="goBack()">
        <ion-icon size="large" name="chevron-back-outline"></ion-icon>
      </ion-button>
      <ion-button class="carrito" (click)="goBack()">
        <img src="../../../assets/img/RECURSOS/iconos drazamed-cc-38.png" class="carro1">
      </ion-button>

    </ion-buttons>
  </div>
</ion-header>

<ion-content>
<div class="container">
  <p class="title_seccion center">Mis pedidos</p>
  <ion-row class="result_search">
    <ion-col size="6" class="mt-20">
      <ion-button class="btn_product" (click)="isYesClicked=true;isNoClicked=false" [color]="!isNoClicked?'medium':'dark'">P<p class="btntext">endientes</p></ion-button>
    </ion-col>
    <ion-col size="6" class="mt-20">
      <ion-button class="btn_product" (click)="isYesClicked=false;isNoClicked=true" [color]="isNoClicked?'medium':'dark'">C<p class="btntext">ompletados</p></ion-button>
    </ion-col>

    <ion-col size="12" *ngIf="!isNoClicked">
       <div class="request_sqare" *ngFor="let d of pendientes">
         <ion-row>
           <ion-col size="12" class="mb-10 right">
              <p class="name_category" *ngIf="d.status === 1">Sin Verificar</p>
              <p class="name_category1" *ngIf="d.status === 2">Verificado</p>
           </ion-col>
           
           <ion-col size="8" class="align-self">
              <p class="name_product">Pedido en curso</p>
              <p class="description_product">
                <b>Fecha: </b>
                {{d.created_at}}
              </p>
              <p class="description_product">
                <b># de orden: </b>
                {{d.id}}
              </p>
           </ion-col>
           <ion-col size="4">
            <ion-buttons>
              <ion-button class="trash" (click)="removeOrder(d)"><img src="../../../assets/img/RECURSOS/trash.png"
                  width="100%"></ion-button>
            </ion-buttons>
           </ion-col>
         </ion-row>
         <ion-row class="mt-20">
             <ion-col size="6">
              <ion-button class="btn_product" coloR="dark" (click)="goPago(d)" *ngIf="d.status == 2">P<p class="btntext">agar</p></ion-button>
             </ion-col>
             <ion-col size="6">
              <ion-button class="btn_product" color="medium" (click)="goOpen(d)">V<p class="btntext">er detalles</p></ion-button>
             </ion-col>
         </ion-row>
       </div>
    </ion-col>

    <ion-col size="12" *ngIf="isNoClicked">
      <div class="request_sqare" *ngFor="let v of completados">
        <ion-row>
          <ion-col size="12" class="mb-10 right">
            <p class="name_category1" *ngIf="v.status === 4">Pagado</p>
            <p class="name_category1" *ngIf="v.status === 5">Enviado</p>
            <p class="name_category1" *ngIf="v.status === 6">Entregado</p>
          </ion-col>
          <ion-col size="8" class="align-self">
             <p class="description_product">
               <b>Fecha: </b>
               {{v.created_at}}
             </p>
             <p class="description_product">
               <b># de orden</b>
              {{v.id}}
             </p>
          </ion-col>
        </ion-row>
        <ion-row class="mt-20">
            <ion-col size="6" *ngIf="v.qualified == 0">
              <ion-button class="calificar_btn" (click)="calificar(v)">C<p class="btntext">alificar</p></ion-button>
            </ion-col>
            <ion-col size="6" class="rating" *ngIf="calificado == true && v.qualified == 1">
              <ionic5-star-rating #rating activeIcon="star" defaultIcon="star-outline" activeColor="#009bd7"
                defaultColor="#aaaaaa" readonly="false" fontSize="25px" (ratingChanged)="logRatingChange($event)">
              </ionic5-star-rating>
            </ion-col>
            <ion-col size="6">
              <ion-button class="btn_product" color="medium" (click)="goClosed(v)">V<p class="btntext">er detalles</p></ion-button>
            </ion-col>
        </ion-row>
      </div>
    </ion-col>

  </ion-row>
</div>
</ion-content>
