<ion-header class="ion-no-border" mode="ios">
  <div class="div-header">
  <ion-toolbar class="header-styles">
    <img class="content-image" src="../../assets/img/LOGOS/LOGOS DRAZAMED_Mesa de trabajo 1.png" alt="">
  </ion-toolbar>
    <ion-buttons class="btn_i">
      <ion-menu-button slot="start" menu="main-menu"></ion-menu-button>
      <ion-button class="carrito" (click)="goCarrito()">
        <img src="../../assets/img/RECURSOS/iconos drazamed-18.png" class="carro1">
      </ion-button>
      <ion-badge>{{ cartItemCount | async }}</ion-badge>
    </ion-buttons>
  </div>
</ion-header>

<ion-content>
  <div class="container1 ion-align-self-center">
     <ion-grid>
       <ion-row>
         <ion-col size="2">
           <img src="../../../assets/img/RECURSOS/user.png" class="perfilimg">
         </ion-col>
         <ion-col size="6">
           <p class="title_seccion_head">Perfil</p>
           <p class="description_product" *ngIf="user">{{user.name}}</p>
         </ion-col>
         <ion-col size="4" class="pt-10">
          <ion-button class="btn-product" (click)="goEdit()">E<p class="btntext">ditar</p></ion-button>
         </ion-col>
       </ion-row>
     </ion-grid>
  </div>

  <div class="container">
    <ion-slides pager="true" [options]="sliderOpts" #mySlider mode="ios">
    <ion-slide>
    <div class="banner">
      <div class="inner">
    <img src="../../assets/img/RECURSOS/banner-2 (2).JPG" class="img_banner"alt="">
      </div>
    </div>
    </ion-slide>
    
    <!-- <ion-slide>
      <div class="banner">
        <div class="inner">
      <img src="../../assets/img/RECURSOS/img_banner.jpg" class="img_banner"alt="">
        </div>
      </div>
      </ion-slide>
    
      <ion-slide>
        <div class="banner">
          <div class="inner">
        <img src="../../assets/img/RECURSOS/img_banner.jpg" class="img_banner"alt="">
          </div>
        </div>
        </ion-slide> -->
    </ion-slides>
    <ion-row class="result_search"></ion-row>
    </div>

    <div class="container2">
      <ion-grid class="back">
        <ion-row>
          <ion-col size="4" class="col_op"> 
             <ion-button (click)="misPedidos()" fill="clear" class="images">
               <img src="../../../assets/img/RECURSOS/icon_pedidos.png" class="imagenes">
             </ion-button>
             <p class="name_category">Pedidos</p>
          </ion-col>
          <ion-col size="4" class="col_op">
            <ion-button (click)="miPastillero()" class="images" fill="clear">
              <img src="../../../assets/img/RECURSOS/icon_pastillero.png" class="imagenes">
            </ion-button>
            <p class="name_category">Mi pastillero</p>
          </ion-col>
          <ion-col size="4" class="col_op">
            <ion-button (click)="misDirecciones()" fill="clear" class="images">
              <img src="../../../assets/img/RECURSOS/icon_direcciones.png" class="imagenes">
            </ion-button>
            <p class="name_category">Mis direcciones</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div class="container3">
     
        <ion-row class="result_search">
          <ion-col size="12" class="address_space">
             <ion-row>
               <ion-col size="9">
                 <p class="name_category">Próxima entrega</p>
                 <p class="description_product" mode="md" *ngIf="alarmas.length !== 0">Fecha: {{prox}}</p>
                 <p class="description_product" mode="md" *ngIf="alarmas.length === 0">No tienes entregas pendientes</p>
               </ion-col>
               <ion-col size="3" class="col_op">
                <ion-button class="add" size="small" fill="clear" (click)="PedidoProximo()">
                    <img src="../../../assets/img/RECURSOS/info.png" width="40px">
                </ion-button>
               </ion-col>
             </ion-row>
          </ion-col>
          <ion-col size="12" class="address_space1">
            <ion-row>
              <ion-col size="9">
                <p class="name_category">¿Cómo va tu tratamiento?</p>
                <p class="description_product" mode="md">Escribe tus comentarios</p>
              </ion-col>
              <ion-col size="3" class="col_op">
                  <ion-button class="add" size="small" fill="clear" (click)="addComment()">
                    <img src="../../../assets/img/RECURSOS/more.png" width="40px">
              </ion-button>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      
    </div>
    <div class="container4" *ngIf="alarmas.length !== 0">
      <div class="sub-cont4">
        <p class="title_seccion">Mis tratamientos</p>
      </div>
        <ion-row class="result_search" *ngFor="let al of alarmas">
          <ion-col size="6" class="col_trat">
            <p class="grey" *ngIf="al.timeH !== 0 || al.timeD !== 0 || al.timeM !== 0">Próxima {{al.timeH}}H {{al.timeM}}Min ({{al.next_time}})</p>
            <p class="grey" *ngIf="al.timeH === 0 && al.timeD === 0 && al.timeM === 0 && al.next_date !== null">Recalculando próxima toma</p>
            <p class="grey" *ngIf="al.next_date === null">Fin del tratamiento</p>
         </ion-col>
         <ion-col size="1">
          <ion-toggle checked mode="ios" class="toggle"></ion-toggle>
         </ion-col>
         <ion-col size="5">
          <ion-buttons>
            <ion-button class="trash" (click)="removetreatment(al)"><img src="../../../assets/img/RECURSOS/trash.png"
                width="100%" class="basurita"></ion-button>
          </ion-buttons>
         </ion-col>
            <ion-col size="3" class="img_product">
              <img src={{base_url}}{{apiUrl7}}{{al.item_code}}{{apiUrl8}} class="img_med">
            </ion-col>
            <ion-col size="5" class="col-5">
              <p class="name_product">{{al.item_name}}</p>
              <p class="description_product">{{al.composition}}</p>
            </ion-col>
            <ion-col size="4">
             <ion-button (click)="processTreat(al)" class="btn-product">E<p class="btntext">stado</p></ion-button>
             <ion-button (click)="editAlarm(al)" class="btn-product" [disabled]="al.next_date === null">E<p class="btntext">ditar</p></ion-button>
            </ion-col>
        </ion-row>
    </div>
    <div class="titulo" *ngIf="alarmas.length === 0">
      <p class="tratamientos_vacio">No tienes tratamientos en curso</p>
    </div>
  </ion-content>