<!--<ion-header>
  <ion-toolbar>
    <ion-title>Ajustes</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
-->

  <ion-content [fullscreen]="true">
    <div id="container">
      <img class="img-primary-logo" src="../../assets/img/LOGOS/LOGOS DRAZAMED_Mesa de trabajo 1 copia 2.png" alt="">
    </div>
    <div id="logo">
      <img class="img-second-logo" src="../../assets/img/LOGOS/LOGOS DRAZAMED-02.png" alt="">
    </div>
  </ion-content>

