<ion-content scroll-y="false">
  <div class="full_height carousel">
    <div class="container">
      <ion-row>
        <ion-col size="4" class="col-logo">
          <img src="../../assets/img/LOGOS/iso_blue.png" class="logo1" width="100%" >
        </ion-col>
      </ion-row>
    </div>
  <ion-slides pager="true">

    <ion-slide>
        <div class="container">
          <ion-row class="pt-70">
            <ion-col size="12" class="center">
               <img src="../../assets/img/RECURSOS/slide_1.png" width="100%" class="img-slide">
            </ion-col>
          </ion-row>
        </div>
    </ion-slide>
  
    <ion-slide>
        <div class="container">
          <ion-row class="pt-70">
            <ion-col size="12" class="center">
               <img src="../../assets/img/RECURSOS/slide_2.png" width="100%" class="img-slide">
            </ion-col>
          </ion-row>
        </div>
    </ion-slide>
  
    <ion-slide>
        <div class="container">
          <ion-row class="pt-70">
            <ion-col size="12" class="center">
               <img src="../../assets/img/RECURSOS/slide_3.png" width="100%" class="img-slide">
            </ion-col>
          </ion-row>
        </div>
    </ion-slide>
  
    <ion-slide>
        <div class="container">       
          <ion-row class="pt-70">
            <ion-col size="12" class="center">
               <img src="../../assets/img/RECURSOS/slide_4.png" width="100%" class="img-slide">
            </ion-col>
          </ion-row>
        </div>
    </ion-slide>

    <ion-slide>
        <div class="container">
          <ion-row class="pt-70">
            <ion-col size="12" class="center">
               <img src="../../assets/img/RECURSOS/slide_5.png" width="100%" class="img-slide">
            </ion-col>
          </ion-row>
        </div>
    </ion-slide>

    <ion-slide>
        <div class="container">
          <ion-row class="pt-70">
            <ion-col size="12" class="center">
               <img src="../../assets/img/RECURSOS/slide_6.png" width="100%" class="img-slide">
            </ion-col>
          </ion-row>
        </div>
    </ion-slide>

  </ion-slides>
  <div class="container">
    <ion-row>
      <ion-col size="5" class="col-btn">
        <ion-button class="btn_product">I<p class="btntext" (click)="goLogin()">ngresar</p></ion-button>
       </ion-col>
      <ion-col size="7" class="col-btn">
       <ion-button class="btn_product">S<p class="btntext" (click)="goFakeHome()">altar</p></ion-button>
      </ion-col>
    </ion-row>
  </div>
</div>
</ion-content>

