<ion-content scroll-y="false">
  <ion-slides pager="true">

    <ion-slide>
      <div class="slide-img-padding">
        <img src="../../assets/img/RECURSOS/slide-1.png" class="slide-img">
      </div>
      <div>
        <h3>Visible Changes<br>in 3 weeks</h3>
      </div>
    </ion-slide>
  
    <ion-slide>
      <div class="slide-img-padding">
        <img src="../../assets/img/RECURSOS/slide-1.png" class="slide-img">
      </div>
      <div>
        <h3>Visible Changes<br>in 3 weeks</h3>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="slide-img-padding">
        <img src="../../assets/img/RECURSOS/slide-1.png" class="slide-img">
      </div>
      <div>
        <h3>Visible Changes<br>in 3 weeks</h3>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="slide-img-padding">
        <img src="../../assets/img/RECURSOS/slide-1.png" class="slide-img">
      </div>
      <div>
        <h3>Visible Changes<br>in 3 weeks</h3>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="slide-img-padding">
        <img src="../../assets/img/RECURSOS/slide-1.png" class="slide-img">
      </div>
      <div>
        <h3>Visible Changes<br>in 3 weeks</h3>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="slide-img-padding">
        <img src="../../assets/img/RECURSOS/slide-1.png" class="slide-img">
      </div>
      <div>
        <h3>Visible Changes<br>in 3 weeks</h3>
      </div>
    </ion-slide>

  </ion-slides>

</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-button slot="end" class="boton-inferior" fill="clear" (click)="goLogin()">Saltar</ion-button>
  </ion-toolbar>
</ion-footer>