<ion-header class="ion-no-border" mode="ios">
  <div class="div-header">
  <ion-toolbar class="header-styles">
    <ion-title><img class="content-image" src="../../../assets/img/LOGOS/LOGOS DRAZAMED_Mesa de trabajo 1.png" alt=""></ion-title>
  </ion-toolbar>
    <ion-buttons class="btn_i">
      <ion-button slot="start" class="icono" (click)="goBack()">
        <ion-icon size="large" name="chevron-back-outline"></ion-icon>
      </ion-button>
      <ion-button class="carrito" (click)="openCart()" #cart>
        <img src="../../../assets/img/RECURSOS/iconos drazamed-18.png">
      </ion-button>
      <ion-badge>{{ cartItemCount | async }}</ion-badge>
    </ion-buttons>
  </div>
</ion-header>

<ion-content >
  <div class="contenedor" mode="md" *ngIf="data">
    <ion-grid *ngFor="let p of data">
      <ion-row>
        <ion-col size="6">
             <div class="img_product" *ngIf="err1 !== 404" >
                <img src={{apiUrl7}}{{p.item_code}}{{apiUrl8}} class="img-fluid">
             </div>
             <div class="img_product" *ngIf="err1 === 404">
              <img  src={{imagen1}} class="img-fluid">
             </div>
        </ion-col>
        <ion-col size="6" class="info_product">
          <p class="name_product" style="color: #00a1dd !important" >{{p.value}}</p>
          <p class="price_product">${{p.mrp | number}}</p>
          <p *ngIf="p.quantity <= 40" class="notavailable">No disponible</p>
          <p *ngIf="p.quantity > 40" class="available">Disponible</p>
        </ion-col>
      </ion-row>
      <ion-row class="action_products">
        <ion-col size="6"></ion-col>
        <ion-col size="6">
          <ion-button class="btn_add" (click)="addToCart(p)" [disabled]="p.quantity <= 40">
           A<p class="btn_text">gregar</p>
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row class="resume_product"> 
         <p class="item_resume"><b>Comercializado por:</b> {{p.manufacturer}}</p>
         <p class="item_formula" *ngIf="data1"><b>Fórmula Médica:</b> RX</p>
         <p class="item_formula1" *ngIf="!data1"><b>Fórmula Médica:</b></p>
         <p class="item_resume"><b>Composición:</b> {{p.composition}}</p>
         <p class="item_resume"><b>Tipo de medicamento:</b> {{p.group}}</p>
      </ion-row>
    </ion-grid>
  </div>
  <div class="contenedor">
  <p class="title_seccion">Alternativas</p>
  <ion-grid>
    <ion-row>
      <ion-col size="6">

      </ion-col>
    </ion-row>
  </ion-grid>
  </div>
  </ion-content>
