<!-- Header without a border -->
<ion-header class="ion-no-border">
  <ion-toolbar class="header-styles">
    <ion-title><img class="content-image" src="../../assets/img/LOGOS/LOGOS DRAZAMED_Mesa de trabajo 1 copia.png"
        alt=""></ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div *ngIf="ready2 !== 'SUCCESS'">
    <form (ngSubmit)="logForm(form)" [formGroup]="forgottenForm" #form="ngForm">
      <div id="container">
        <ion-list>
          <img class="logo-form" src="../../assets/img/LOGOS/LOGOS DRAZAMED-04.png">
          <p>Olvidé la contraseña</p>
          <ion-item>
            <ion-label position="stacked">Correo electrónico</ion-label>
            <ion-input type="email" formControlName="email" [(ngModel)]="correo.email" name="email" ngControl="email">
            </ion-input>
          </ion-item>
          <div *ngFor="let error of error_messages.correo">
            <ng-container *ngIf="forgottenForm.get('correo').hasError(error.type) && 
              (forgottenForm.get('correo').dirty || forgottenForm.get('correo').touched)">
              <small class="error-message">{{ error.message }}</small>
            </ng-container>
          </div>
          <ion-button class="btn-continue" [disabled]="!forgottenForm.valid" expand="block" (click)="forgottenPass()">
            ENVÍAR</ion-button>
        </ion-list>
      </div>
    </form>
  </div>
  <div *ngIf="ready2 === 'SUCCESS'">
    <form (ngSubmit)="logForm(form)" [formGroup]="getNewForm" #form="ngForm">
      <div id="container">
        <ion-list>
          <img class="logo-form1" src="../../assets/img/LOGOS/LOGOS DRAZAMED-04.png">
          <p>Reestablecer contraseña</p>
          <ion-item>
            <ion-label position="stacked">Correo electrónico</ion-label>
            <ion-input type="email" formControlName="email" [(ngModel)]="forgotten.email" name="email"
              ngControl="email"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Código de seguridad</ion-label>
            <ion-input type="number" formControlName="security_code" [(ngModel)]="forgotten.security_code"
              name="security_code" ngControl="security_code"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Nueva contraseña</ion-label>
            <ion-input type="password" formControlName="new_password" [(ngModel)]="forgotten.new_password"
              name="new_password" ngControl="new_password"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Confirmar contraseña</ion-label>
            <ion-input type="password" formControlName="confirm_password" [(ngModel)]="forgotten.confirm_password"
              name="confirm_password" ngControl="confirm_password"></ion-input>
          </ion-item>
          <div>
            <ng-container *ngFor="let error of error_messages.confirm_password"></ng-container>
            <small class="error-message"
              *ngIf="!getNewForm.get('confirm_password').errors && getNewForm.hasError('passwordNotMatch') && (getNewForm.get('confirm_password').dirty || getNewForm.get('confirm_password').touched)">
              Las contraseñas no coinciden
            </small>
          </div>
        </ion-list>
        <ion-button class="btn-continue" [disabled]="!getNewForm.valid" expand="block" (click)="resetPass()">
          Reestablecer</ion-button>
      </div>
    </form>
  </div>
</ion-content>