<!-- Header without a border -->
<ion-header class="ion-no-border" mode="ios">
  <ion-toolbar class="header-styles">
    <ion-title><img  class="content-image" src="../../assets/img/LOGOS/LOGOS DRAZAMED_Mesa de trabajo 1 copia.png" alt=""></ion-title>
  </ion-toolbar>
</ion-header>


<ion-content mode="md">
  <form (ngSubmit)="logForm(form)" [formGroup]="registroForm"  #form="ngForm">
    <div id="container">
      <ion-list>
      <img class="logo-form" src="../../assets/img/LOGOS/LOGOS DRAZAMED-04.png">
        <p>Crear cuenta</p>
      <ion-item>
        <ion-label position="stacked">Nombre</ion-label>
        <ion-input formControlName="first_name" type="text" [(ngModel)]="register1.first_name" name="first_name" ngControl="first_name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Apellido</ion-label>
        <ion-input formControlName="last_name" type="text" [(ngModel)]="register1.last_name" name="last_name" ngControl="last_name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Correo</ion-label>
        <ion-input formControlName="email" type="email" [(ngModel)]="register1.email" name="email" ngControl="email"></ion-input>
      </ion-item>

      <div *ngFor="let error of error_messages.email">
        <ng-container *ngIf="registroForm.get('email').hasError(error.type) && 
              (registroForm.get('email').dirty || registroForm.get('email').touched)">
          <small class="error-message" >{{ error.message }}</small>
        </ng-container>
      </div>
      
      <small class="error-message" *ngIf="gDisplayName.hasError('notUnique')">Email already exist</small>
      
      <ion-item>
        <ion-label position="stacked">Contraseña</ion-label>
        <ion-input formControlName="password" type="password" [(ngModel)]="register1.password" name="password" ngControl="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Confirmar contraseña</ion-label>
        <ion-input formControlName="confirm_password" type="password" [(ngModel)]="register1.confirm_password" name="confirm_password" ngControl="confirm_password"></ion-input>
      </ion-item>
      
      <div>
        <ng-container *ngFor="let error of error_messages.confirm_password"></ng-container>
        <small class="error-message" *ngIf="!registroForm.get('confirm_password').errors && registroForm.hasError('passwordNotMatch') && (registroForm.get('confirm_password').dirty || registroForm.get('confirm_password').touched)">
          Las contraseñas no coinciden
        </small>
      </div>
    </ion-list>
    <ion-button [disabled]="!registroForm.valid" class="btn-continue" expand="block" (click)="CreateA()">SIGUIENTE</ion-button>
    </div>
    
  </form>
</ion-content>
