<!-- Header without a border -->
<ion-header class="ion-no-border">
  <ion-toolbar class="header-styles">
    <ion-title><img  class="content-image" src="../../assets/img/LOGOS/LOGOS DRAZAMED_Mesa de trabajo 1 copia.png" alt=""></ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <form (ngSubmit)="logForm(form)" [formGroup]="registroForm"  #form="ngForm">
    <div id="container">
      <ion-list>
      <img class="logo-form" src="../../assets/img/LOGOS/LOGOS DRAZAMED-04.png">
        <p>Crear cuenta</p>
      <ion-item>
        <ion-label position="stacked">Nombre</ion-label>
        <ion-input formControlName="nombre" type="text" [(ngModel)]="register.nombre" name="nombre" ngControl="nombre"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Apellido</ion-label>
        <ion-input formControlName="apellido" type="text" [(ngModel)]="register.apellido" name="apellido" ngControl="apellido"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Correo</ion-label>
        <ion-input formControlName="correo" type="email" [(ngModel)]="register.correo" name="correo" ngControl="correo"></ion-input>
      </ion-item>

      <div *ngFor="let error of error_messages.correo">
        <ng-container *ngIf="registroForm.get('correo').hasError(error.type) && 
              (registroForm.get('correo').dirty || registroForm.get('correo').touched)">
          <small class="error-message" >{{ error.message }}</small>
        </ng-container>
      </div>
      
      <small class="error-message" *ngIf="gDisplayName.hasError('notUnique')">Email already exist</small>
      
      <ion-item>
        <ion-label position="stacked">Contraseña</ion-label>
        <ion-input formControlName="clave" type="password" [(ngModel)]="register.clave" name="clave" ngControl="clave"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Confirmar contraseña</ion-label>
        <ion-input formControlName="reclave" type="password" [(ngModel)]="register.reclave" name="reclave" ngControl="reclave"></ion-input>
      </ion-item>
      
      <div>
        <ng-container *ngFor="let error of error_messages.reclave"></ng-container>
        <small class="error-message" *ngIf="!registroForm.get('reclave').errors && registroForm.hasError('passwordNotMatch') && (registroForm.get('reclave').dirty || registroForm.get('reclave').touched)">
          Las contraseñas no coinciden
        </small>
      </div>

      <ion-item>
        <ion-label position="stacked">Documento de identidad</ion-label>
        <ion-input formControlName="documento" type="tel" [(ngModel)]="register.documento" name="documento" ngControl="documento"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Fecha de nacimiento</ion-label>
        <ion-datetime formControlName="nacimiento" drag-content="false" (ionChange)="doSomething(this.nacimiento)" displayFormat="DD/MM/YYYY" [(ngModel)]="register.nacimiento" name="nacimiento" ngControl="nacimiento"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Dirección para entrega</ion-label>
        <ion-input formControlName="direccion" type="text" [(ngModel)]="register.direccion" name="direccion" ngControl="direccion"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Telefono</ion-label>
        <ion-input formControlName="telefono" type="tel" [(ngModel)]="register.telefono" name="telefono" ngControl="telefono"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Género</ion-label>
        <ion-select formControlName="genero" placeholder="Seleccionar" [(ngModel)]="register.genero" name="genero" ngControl="genero">
          <ion-select-option>Masculino</ion-select-option>
          <ion-select-option>Femenino</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Tipo de cuenta</ion-label>
        <ion-select formControlName="tipo" placeholder="Seleccionar" [(ngModel)]="register.tipo" name="tipo" ngControl="tipo">
           <ion-select-option>profesional Médico</ion-select-option>
           <ion-select-option>Cliente</ion-select-option>
           <ion-select-option>Domiciliario</ion-select-option>
           <ion-select-option>Centro Médico</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-checkbox formControlName="aceptar" [(ngModel)]="register.accept" name="accept" ngControl="accept"  color="success"></ion-checkbox>
        <ion-label class="label-checkbox">Aceptar términos y condiciones</ion-label>
      </ion-item>
      <div *ngFor="let error of error_messages.aceptar">
        <ng-container *ngIf="registroForm.get('aceptar').hasError(error.type) && 
              (registroForm.get('aceptar').dirty || registroForm.get('aceptar').touched)">
          <small class="error-message" >{{ error.message }}</small>
        </ng-container>
      </div>
    </ion-list>
    <ion-button [disabled]="!registroForm.valid" class="btn-continue" type="submit" expand="block">ACEPTAR</ion-button>
    </div>
    
  </form>
</ion-content>
