<!-- Header without a border -->
<ion-header class="ion-no-border">
  <ion-toolbar class="header-styles">
    <ion-title><img  class="content-image" src="../../assets/img/LOGOS/LOGOS DRAZAMED_Mesa de trabajo 1 copia.png" alt=""></ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <form>
    <div id="container">
      <p>Crear cuenta</p>
      <img class="logo-form" src="../../assets/img/LOGOS/LOGOS DRAZAMED-04.png">
      <ion-item>
        <ion-label position="stacked">Nombre</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Correo</ion-label>
        <ion-input type="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Contraseña</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Confirmar Contraseña</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>
    </div>
    <ion-button class="btn-continue" expand="block">SIGUIENTE</ion-button>
  </form>
</ion-content>
