<ion-header class="ion-no-border" mode="ios">
  <div class="div-header">
  <ion-toolbar class="header-styles">
    <ion-title><img class="content-image" src="../../assets/img/LOGOS/LOGOS DRAZAMED_Mesa de trabajo 1.png" alt=""></ion-title>
  </ion-toolbar>
    <ion-buttons>
      <ion-button slot="start" class="icono" (click)="goBack()">
        <ion-icon size="large" name="chevron-back-outline"></ion-icon>
      </ion-button>
      <ion-button class="carrito" (click)="goBack()">
        <img src="../../../assets/img/RECURSOS/iconos drazamed-cc-38.png">
      </ion-button>
    </ion-buttons>
  </div>
</ion-header>


<ion-content>
  <div class="container">
    <p class="title_seccion center">Mis pedidos</p>
  </div>
</ion-content>
