<ion-content [fullscreen]="true" mode="ios">
  <div id="container-logo">
    <img class="img-primary-logo" src="../../assets/img/LOGOS/LOGOS DRAZAMED-02.png" alt="">
  </div>
  <div id="container-buttons" >
    <!-- <ion-button class="buttons-modified mb-10" expand="block" (click)="loginGoogle()">
      <img class="button-logosg" src="../../assets/img/RECURSOS/iconos-google.png">
      <p class="btn-g">Continúa con Google</p></ion-button>
    <ion-button class="buttons-modified mb-10" expand="block" (click)="loginFacebook()">
      <ion-icon expand="full" slot="start" name="logo-facebook" class="button-logosf"></ion-icon>
      <p class="btn-f">Continúa con Facebook</p></ion-button>
    <ion-button class="buttons-modified mb-10" expand="block" *ngIf="iosPlt === true" (click)="loginApple()">
      <ion-icon expand="full" name="logo-apple" slot="start" class="button-logosa"></ion-icon>
      <p>Continúa con Apple</p>
    </ion-button> -->
   
    <ion-button class="buttons-modified mb-15" expand="block" (click)="goCreateAccount()">Crear Cuenta</ion-button>
    <span class="account-text">¿Ya tienes una cuenta? </span><a class="link" href="./login2">Iniciar sesión</a>
  </div>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar class="text-st">
      <span>Al continuar estas aceptando nuestros</span>
      <br> 
      <span>términos, condiciones y politicas de privacidad</span>
    </ion-toolbar>
</ion-footer>