ion-header {
  --background: #009bd7 !important;
  --ion-background-color-rgb: 0, 155, 215;
}

.header-styles {
  --background: #009bd7 !important;
  padding-top: 30px;
  padding-bottom: -100px;
  text-align: center;
}
.content-image {
  max-width: 60%;
  border: 0;
}
.logo-header {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 50%;
}

ion-content {
  --ion-background-color: #fff;
  --ion-background-color-rgb: 236, 235, 238;
}

.carrito {
  width: 14%;
  height: 14%;
  border-radius: 100% !important;
  margin-left: 65%;
  margin-bottom: 2% !important;
}

.div-header {
  background-color: #009bd7;
  padding-bottom: 0.5%;
}

ion-menu-button {
  color: white;
  margin-left: 5%;
}
ion-badge {
  color: #046a8f;
  position: absolute;
  --border-radius: 200%;
  top: 2px;
  right: 9px;
  --background: #c9c9c9;
  width: 28px;
  height: 20px;
  font-size: 16px;
}
.btn_i {
  padding-top: 5px;
}
.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  background-color: #fff !important;
  align-self: center !important;
  padding-bottom: 10px !important;
  padding-top: 10px !important;
}
.center {
  text-align: center !important;
}
.title_seccion {
  color: #00a2dd;
  font-size: 24px;
  font-weight: 700;
  margin: 20px 0px;
}
.grey{
  color: #727070 !important;
  margin-top: 0px;
  }
.col_trat{
  text-align: right !important;
}
.container1 {
  width: 100%;
  padding-right: 1px;
  padding-left: 1px;
  margin-right: auto;
  margin-left: auto;
  background-color: #fff;
}
.banner {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px !important;
  margin-top: 5px !important;
}
.inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.img_banner {
  border-radius: 20px;
  margin-bottom: 10px;
}
ion-slides {
  --bullet-background: #232424;
  --bullet-background-active: #009bd7;
}
.result_search {
  background: #f2f2f2 !important;
  padding: 20px 0px !important;
  margin-bottom: 15px;
}
.addres_space {
  background: #fff;
  padding: 20px 10px;
}
.align-self {
  align-self: center !important;
}
.btn_product {
  --background: #00a2dd !important;
  padding: 10px !important;
  --border-radius: 15px !important;
  color: #fff !important;
  margin-bottom: 12px !important;
  text-align: center !important;
  font-size: 18px !important;
  font-weight: 600 !important;
  height: 60px;
}
.btn-product {
  --background: #00a2dd !important;
  padding: 10px !important;
  --border-radius: 15px !important;
  color: #fff !important;
  margin-bottom: 15px !important;
  text-align: center !important;
  font-size: 18px !important;
  font-weight: 600 !important;
  display: block !important;
  margin-right: auto !important;
  margin-left: auto !important;
  text-decoration: none;
  height: 55px;
}
a {
  text-decoration: none !important;
}
.name_product {
  font-size: 19px !important;
  font-weight: 700 !important;
  margin: 5px 0px !important;
  line-height: 20px !important;
  color: #00a1dd !important;
}
.imagen_med {
  margin-right: auto !important;
  margin-left: auto !important;
  display: block !important;
}

.img_product {
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1) !important;
  padding: 10px !important;
  border-radius: 30px !important;
  background-color: #fff !important;
}
.description_product {
  font-size: 17px !important;
  color: #727070 !important;
  line-height: 18px !important;
  margin: 5px 0px !important;
}
.btn_product1 {
  background: #00a2dd !important;
  padding: 10px !important;
  border-radius: 15px !important;
  color: #fff !important;
  margin-bottom: 15px !important;
  text-align: center !important;
  font-size: 18px !important;
  font-weight: 600 !important;
  margin-right: auto !important;
  margin-left: auto !important;
  display: block !important;
}
.sub-cont4 {
  background-color: #fff;
  display: block !important;
  margin-left: 10px !important;
}
@media (min-width: 400px) and (max-width: 417px) {
  ion-badge {
    color: #046a8f;
    position: absolute;
    --border-radius: 200%;
    top: 2px;
    right: 17px;
    --background: #c9c9c9;
    width: 29px;
    height: 22px;
    font-size: 16px;
  }
}
@media (min-width: 320px) and (max-width: 336px) {
  ion-badge {
    color: #046a8f;
    position: absolute;
    --border-radius: 200%;
    top: -1px;
    right: 5px;
    --background: #c9c9c9;
    width: 24px;
    height: 20px;
    font-size: 16px;
  }
}
@media (min-width: 337px) and (max-width: 350px) {
  ion-badge {
    color: #046a8f;
    position: absolute;
    --border-radius: 200%;
    top: -1px;
    right: 10px;
    --background: #c9c9c9;
    width: 24px;
    height: 20px;
    font-size: 16px;
  }
}
.btntext {
  text-transform: lowercase;
}
@media (min-width: 600px) and (min-height: 950px) {
  .grey {
    color: #727070 !important;
    font-size: 25px;
    margin-top: 0px;
  }
  .header-styles {
    --background: #009bd7 !important;
    padding-top: 0px;
    padding-bottom: 10px;
    text-align: center;
  }
  .content-image {
    height: 110px;
  }
  .carro1 {
    max-width: 68%;
    border: 0;
    margin-right: -41px;
  }
  ion-badge {
    color: #046a8f;
    position: absolute;
    --border-radius: 200%;
    top: -1px;
    right: 39px;
    --background: #c9c9c9;
    width: 45px;
    height: 29px;
    font-size: 25px;
  }
  ion-menu-button {
    color: white;
    margin-left: 5%;
    font-size: 50px !important;
  }
  .title_seccion {
    color: #00a2dd;
    font-size: 35px;
    font-weight: 700;
    margin: 20px 0px;
  }
  .btn_product {
    --background: #00a2dd !important;
    padding: 10px !important;
    --border-radius: 15px !important;
    color: #fff !important;
    margin-bottom: 12px !important;
    text-align: center !important;
    font-size: 28px !important;
    font-weight: 600 !important;
    height: 75px;
  }
  .name_product {
    font-size: 35px !important;
    font-weight: 700 !important;
    margin: 5px 0px !important;
    line-height: 33px !important;
    color: #00a1dd !important;
  }
  .btn-product {
    --background: #00a2dd !important;
    padding: 10px !important;
    --border-radius: 15px !important;
    color: #fff !important;
    margin-bottom: 15px !important;
    text-align: center !important;
    font-size: 28px !important;
    font-weight: 600 !important;
    display: block !important;
    margin-right: auto !important;
    margin-left: auto !important;
    text-decoration: none;
    height: 80px;
  }
  .description_product {
    font-size: 28px !important;
    color: #727070 !important;
    line-height: 27px !important;
    margin: 5px 0px !important;
}

}
@media (min-width: 320px) and (max-width: 360px){
  .name_product {
    font-size: 14px !important;
    font-weight: 700 !important;
    color: #00a1dd !important;
    margin: 5px 0px !important;
    line-height: 20px !important;
  }
  .description_product {
    font-size: 14px !important;
    color: #727070 !important;
    line-height: 18px !important;
    margin: 5px 0px !important;
}
}