<ion-header class="ion-no-border" mode="ios">
  <div class="div-header">
  <ion-toolbar class="header-styles">
    <ion-title><img class="content-image" src="../../../assets/img/LOGOS/LOGOS DRAZAMED_Mesa de trabajo 1.png" alt=""></ion-title>
  </ion-toolbar>
    <ion-buttons>
      <ion-menu-button slot="start" menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </div>
</ion-header>


<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
          <div class="panel">
            <h4 class="title1">Documentos de Interés</h4>
            <ion-row>
              <h4 class="title1"><a href="../avisoprivacidad/">Aviso de privacidad</a></h4>
            </ion-row>
            <ion-row>
              <h4 class="title1"><a href="../acercade/">Términos y Condiciones</a></h4>
            </ion-row>
            <ion-row>
              <h4 class="title1"><a href="../politicagarantia/">Política de Garantías</a></h4>
            </ion-row>
            <ion-row>
              <h4 class="title1"><a href="../politicadevolucion/">Política de Devoluciones</a></h4>
            </ion-row>
            <ion-row>
              <h4 class="title1"><a href="../politicaretracto/">Política de Retracto y Reversión</a></h4>
            </ion-row>
            <ion-row>
              <h4 class="title1"><a href="../manejodatos/">Manejo de datos Personales</a></h4>
            </ion-row>
          </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <div class="panel" style="font-size: 100%;">
          <h1 class="title"> POLÍTICA DE RETRACTO Y REVERSIÓN DRAZAMED.</h1>
          <br>
          <br>
          Podra descargar una version en PDF de este documento <a href="http://dra.devel/assets/pdf/terminos.pdf"> aqui </a>
          <p>
              La siguiente política se encarga de regular las circunstancias y procedimientos encaminados al retracto o reversión de la compra de los productos vendidos mediante métodos a distancia (entiéndase a domicilio) tales como lo son las ventas que se realizan mediante la aplicación o el sitio web (en adelante los portales) de propiedad de DROGUERIA MINIFARMA S.A.S.
              <br>
        
              </p><h2> Productos que no podrán ser objeto de retracto. </h2>
              <br>
              Los productos que no podrán ser objeto del procedimiento de retracto son los siguientes:
        
              <ol>
                  <li>
                      Los productos de tipo perecedero.
                  </li>
                  <li>
                      Los productos destinados a consumo.
                  </li>
                  <li>
                      Los productos destinados al aseo personal.
                  </li>
                  <li>
                      Los productos que se encuentren con desgastes en sus empaques, coberturas, precintos, cintillas de seguridad o demás atributos del embalaje del producto.
                  </li>
                  <li>
                      Los productos que tengan alterada la información que se encuentra adjunta al producto.
                  </li>
                  <li>
                      Los productos que hayan sido usados o que su contenido neto se encuentre incompleto de conformidad con la información dispuesta dentro de las indicaciones del empaque o embalaje de este.
                  </li>
                  <li>
                      Que los productos no correspondan a los lotes que se encontraban en poder del expendedor.
                  </li>
                  <li>
                      Los productos que se encuentren vencidos, salvo que la fecha de vencimiento se hubiese causado antes de la fecha de la compra.
                  </li>
                  <li>
                      Productos cosméticos.
                  </li>
                  <li>
                      Medicamentos que por sus características requieran condiciones de refrigeración
                  </li>
                  <li>
                      Medicamentos de control especial vendidos bajo formula médica.
                  </li>
              </ol>
        
          <p></p>
        
          <h2> Oportunidad para realizar la solicitud de retracto. </h2>
        
          <p>
              La oportunidad para ejercer el derecho a retractarse de la venta a distancia se tendrá que dar dentro de los cinco (5) días siguientes a la recepción del producto que se envíe a domicilio hasta el sitio indicado por el cliente que haya adquirido sus productos mediante los portales.
              <br>
              Después del transcurso de los cinco (5) días anteriormente señalados, se entiende que el cliente recibe a satisfacción el producto y no tendrá la oportunidad de realizar cualquier petición frente al mismo.
        
          </p>
        
          <h2> Procedimiento para solicitar el retracto. </h2>
        
          <p>
              El procedimiento para efectos de solicitar de los productos pagados con dineto en efectivo es la siguiente:
        
              </p><ol>
                  <li>
                      Una vez recibido el producto, el cliente dentro de los cinco (05) días siguientes tendrá la oportunidad de comunicarse con DROGUERIA MINIFARMA S.A.S. para informar su deseo de hacer el cambio mediante los siguientes medios:
        
                      <ol type="a">
                          <li>
                             Al correo electrónico  <a href="mailto:info@drazamed.com">info@drazamed.com</a>
                          </li>
                          <li>
                              Dejando un mensaje en el apartado de PQR´S de cualquiera de los portales.
                          </li>
                      </ol>
                  </li>
                  <li>
                      Para efectos de realizar la reclamación se requiere en principio allegar por cualquier medio a DROGUERIA MINIFARMA S.A.S. la factura de venta, para efectos de identificar, fechas, características del producto, precios y demás información importante de los productos objeto de la compraventa.
                  </li>
                  <li>
                      Una vez recibida la solicitud de retracto DROGUERIA MINIFARMA S.A.S. deberá responder dentro de los cinco (5) días siguientes a la recepción de la misma.
                  </li>
                  <li>
                      Si la respuesta es negativa, lo informará presentando los argumentos que sustentan a la misma.
                  </li>
                  <li>
                      Si la respuesta es positiva, DROGUERIA MINIFARMA S.A.S. comunicará al cliente dicha decisión. En este caso el consumidor deberá devolver el producto a DROGUERIA MINIFARMA S.A.S. por el mismo medio en que lo recibió y deberá estar en las mismas condiciones en que lo recibió.
                  </li>
                  <li>
                      Si el cliente lo comunica de manera expresa en su solicitud, podrá solicitar que sea recogido en el lugar en donde recibió el producto. El cliente en este caso deberá asumir el costo del transporte para la recolección del producto, el cual será informado en la respuesta afirmativa descrita en el numeral inmediatamente anterior. Con la aceptación de la recolección por parte de DROGUERIA MINIFARMA S.A.S, el cliente acepta que este costo sea compensado disminuyéndolo de la suma sujeta a devolución.
                  </li>
                  <li>
                      A pesar de que la respuesta de DROGUERIA MINIFARMA S.A.S. sea positiva, el domiciliario podrá revisar el producto y si ve cualquier desperfecto señalado en la presente política, podrá negarse a realizar la respectiva devolución del dinero o cambio según corresponda.
                  </li>
                  <li>
                      Una vez aceptado el producto por parte del domiciliario y hecha la devolución del dinero, el cliente deberá firmar una copia simple de la factura en la que acepta que se le devolvió la suma a la que asciende la devolución o que recibió el nuevo producto, y que declara a paz y salvo por todo concepto a DROGUERIAS MINIFARMA S.A.S.
                  </li>
        
              </ol>
          <p></p>
        
          <h2> Reversión del Pago realizado mediante instrumentos de carácter electrónico.</h2>
        
          <p>
              Cuando el cliente haya realizado el pago de la venta por intermedio de una tarjeta de crédito, débito o cualquier otro instrumento de pago electrónico, los clientes podrán solicitar la reversión del pago en los siguientes casos que se enumeran a continuación:
        
              </p><ol>
                  <li>
                      Cuando el pago corresponda a una compra no solicitada por el cliente.
                  </li>
                  <li>
                      Cuando la venta del producto sea resultado u objeto de un fraude.
                  </li>
                  <li>
                      Cuando el cliente no haya recibido el producto dentro del tiempo estimado para ello.
                  </li>
                  <li>
                      Cuando el producto que se entrega no corresponda al que se solicitó
                  </li>
                  <li>
                      Cuando el producto sea defectuoso.
                  </li>
              </ol>
        
        
            Para la reversión de este pago se deberá proceder de la siguiente forma:
        
            <ol>
                  <li>
                      Dentro de los cinco (5) días siguientes a los que el cliente tuvo conocimiento de la transacción fraudulenta o no solicitada o después del plazo en que debió haber recibido el producto o desde cuando lo recibió defectuoso o sin que correspondiera a lo solicitado, deberá presentar queja en este sentido, por cualquiera de los medios que se relacionan a continuación:
        
                      <ol type="a">
                          <li>
                             Al correo electrónico  <a href="mailto:info@drazamed.com">info@drazamed.com</a>
                          </li>
                          <li>
                              Dejando un mensaje en el apartado de PQR´S de cualquiera de los portales.
                          </li>
                      </ol>
                  </li>
                  <li>
                      La queja deberá contener como mínimo, con la siguiente información
        
                      <ol type="a">
                          <li>
                              Manifestación expresa de las razones que fundamentan la solicitud de reversión del pago.
                          </li>
                          <li>
                              Indicación de la causal que sustenta la petición,
                          </li>
                          <li>
                              Valor por el que se solicita la reversión.
                          </li>
                          <li>
                              Identificación de la cuenta bancaria, tarjeta de crédito o instrumento de pago al que fue cargada la operación.
                          </li>
                      </ol>
                  </li>
                  <li>
                      DROGUERIA MINIFARMA S.A.S emitirá constancia de la presentación de esta, con indicación de la fecha y causal que la sustentan.
                  </li>
                  <li>
                      Una vez recibida la solicitud de retracto DROGUERIA MINIFARMA S.A.S. deberá responder dentro de los cinco (5) días siguientes a la recepción de la misma.
                  </li>
                  <li>
                      Si la respuesta es negativa de cara a la solicitud, lo informará presentando los argumentos que sustentan a la misma.
                  </li>
                  <li>
                      Si la respuesta es positiva, DROGUERIA MINIFARMA S.A.S. comunicará al cliente dicha decisión. En este caso el consumidor deberá devolver el producto a DROGUERIA MINIFARMA S.A.S. por el mismo medio en que lo recibió y deberá estar en las mismas condiciones en que lo recibió.
                      <br>
                      Si el cliente lo comunica de manera expresa en su solicitud, podrá solicitar que sea recogido en el lugar en donde recibió el producto. El cliente en este caso deberá asumir el costo del transporte para la recolección del producto, el cual será informado en la respuesta afirmativa descrita en el numeral inmediatamente anterior.
                  </li>
                  <li>
                      Para efectos de la reversión del pago DROGUERIA MINIFARMA S.A.S realizará los trámites correspondientes para que la plataforma y la entidad bancaría correspondiente efectúe la reversión del pago la cual debe realizarse dentro de los quince (15) días siguientes a su aceptación efectiva por parte de la plataforma de pagos. Si el cliente quiere saber más a profundidad acerca del procedimiento y los tiempos del mismo una vez este haya sido aceptado, lo podrá consultar en el siguiente link: <a href="https://www.mercadopago.com.co/ayuda/terminos-y-condiciones_299">https://www.mercadopago.com.co/ayuda/terminos-y-condiciones_299</a>
                  </li>
                  <li>
                      Para efectos de realizar la reclamación respectiva y en cumplimiento de la normativa aplicable, el cliente podrá utilizar el formulario de devolución de pago que se encuentra dentro del siguiente Link: <a href="https://www.mercadopago.com/org-img/MP3/PPV/formulario_reversion_de_pago_co_v1-2.pdf">https://www.mercadopago.com/org-img/MP3/PPV/formulario_reversion_de_pago_co_v1-2.pdf</a>
                  </li>
                  <li>
                      9)  Existe la posibilidad de cargar definitivamente la transacción reclamada, cuando medie decisión administrativa o jurisdiccional en contra del cliente, de conformidad con la normativa aplicable.
                  </li>
        
              </ol>
        
          <p></p>
        
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>