<ion-app>
  <ion-menu menuId="main-menu" content-id="main">
  	    
    	<ion-content>
        <div class="menu-header-bg"></div>
       <ion-list class="menu-items" lines="none"> 
			
		 <ion-menu-toggle>
			<ion-item on-click="goHome()">
       	 	    <ion-icon name="home"></ion-icon>
       	 	    Inicio
       	    </ion-item>
		 </ion-menu-toggle>
       	 
		 <ion-menu-toggle>
			<ion-item on-click="goPerfil()">
				<ion-icon name="person"></ion-icon>
				Perfil
			</ion-item>
		 </ion-menu-toggle>

       	 <ion-menu-toggle>
			<ion-item on-click="goMedicamentos()">
       	 	   <ion-icon name="bandage"></ion-icon>
       	 	   Medicamentos
       	    </ion-item>
		</ion-menu-toggle>

       	<ion-menu-toggle>
			<ion-item on-click="goPedidos()">
       	 	   <ion-icon name="newspaper"></ion-icon>
       	 	   Pedidos
       	    </ion-item>
		</ion-menu-toggle>

		<ion-menu-toggle>
			<ion-item on-click="goPastillero()">
       	 	    <ion-icon name="medkit"></ion-icon>
       	 	    Pastillero
       	    </ion-item>
		</ion-menu-toggle> 

       	<ion-menu-toggle>
		    <ion-item on-click="goDirecciones()">
       	 	    <ion-icon name="location"></ion-icon>
       	 	    Direcciones
       	    </ion-item>
		</ion-menu-toggle>

		<ion-menu-toggle>
            <ion-item on-click="goMensajes()">
       	 	    <ion-icon name="mail"></ion-icon>
       	 	    Mensajes/PQR
       	    </ion-item>
		</ion-menu-toggle>

       	<ion-menu-toggle>
			<ion-item on-click="goAjustes()">
       	 	    <ion-icon name="settings"></ion-icon>
       	 	    Ajustes
       	    </ion-item>
		</ion-menu-toggle> 

       	<ion-menu-toggle>
			<ion-item on-click="goAcercade()">
       	 	    <ion-icon name="information-circle"></ion-icon>
       	 	    Acerca de
       	    </ion-item>
		</ion-menu-toggle>
		   
		<ion-menu-toggle>
			<ion-item on-click="goOut()">
       	 	    <ion-icon name="log-out"></ion-icon>
       	 	    Cerrar
       	    </ion-item>
		</ion-menu-toggle>

       </ion-list>
  	</ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
