.div-header {
  background-color: #009bd7;
  padding-bottom: 0.5%;
}

ion-menu-button {
  color: white;
  margin-left: 5%;
}
ion-header {
  --background: #009bd7 !important;
  --ion-background-color-rgb: 0, 155, 215;
}

.header-styles {
  --background: #009bd7 !important;
  padding-top: 15px;
  padding-bottom: -100px;
  text-align: center;
}

.logo-header {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 50%;
}

ion-content {
  --ion-background-color: #eeeef1;
  --ion-background-color-rgb: 236, 235, 238;
}
.carrito {
  width: 14%;
  height: 14%;
  border-radius: 100% !important;
  margin-left: 65%;
  margin-bottom: 2% !important;
}
.content-image {
  max-width: 60%;
  border: 0;
}
ion-searchbar {
  --icon-color: #fff;
  --background: #00a2dd !important;
  --border-radius: 20px !important;
  --placeholder-color: #fff !important;
  --placeholder-opacity: 1;
}
.searchbar {
  margin-top: -5px !important;
  padding-top: 5px !important;
}
.description_product1 {
  color: #727070 !important;
  line-height: 18px !important;
  text-align: center !important;
  margin-right: 10px !important;
  margin-left: 10px !important;
  display: flex;
  margin: auto;
}
ion-badge {
  color: #046a8f;
  position: absolute;
  --border-radius: 200%;
  top: -1px;
  right: 15px;
  --background: #c9c9c9;
  width: 24px;
  height: 20px;
  font-size: 16px;
}
.btn_i {
  padding-top: 5px;
}
@media (min-width: 400px) and (max-width: 417px) {
  ion-badge {
    color: #046a8f;
    position: absolute;
    --border-radius: 200%;
    top: -1px;
    right: 21px;
    --background: #c9c9c9;
    width: 24px;
    height: 20px;
    font-size: 16px;
  }
}
@media (min-width: 320px) and (max-width: 336px) {
  ion-badge {
    color: #046a8f;
    position: absolute;
    --border-radius: 200%;
    top: -1px;
    right: 5px;
    --background: #c9c9c9;
    width: 24px;
    height: 20px;
    font-size: 16px;
  }
}
@media (min-width: 337px) and (max-width: 350px) {
  ion-badge {
    color: #046a8f;
    position: absolute;
    --border-radius: 200%;
    top: -1px;
    right: 10px;
    --background: #c9c9c9;
    width: 24px;
    height: 20px;
    font-size: 16px;
  }
}
.result_search {
  background: #f2f2f2 !important;
  padding: 20px 0px !important;
  margin-bottom: 15px;
  width: 100%;
}
.align-self {
  align-self: center !important;
  // text-align: center;
}
.img_product {
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1) !important;
  padding: 10px !important;
  border-radius: 30px !important;
  background-color: #fff !important;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.d-block {
  display: block;
}
.price_product {
  font-size: 21px !important;
  font-weight: 700 !important;
  color: #727070 !important;
  margin: 0px !important;
}
.name_product {
  font-size: 19px !important;
  font-weight: 700 !important;
  color: #727070 !important;
  margin: 5px 0px !important;
  line-height: 20px !important;
}
.description_product {
  font-size: 17px !important;
  color: #727070 !important;
  line-height: 18px !important;
  margin: 5px 0px !important;
}
.available {
  font-size: 17px !important;
  color: #008000 !important;
  line-height: 18px !important;
  margin: 5px 0px !important;
}
.notavailable {
  font-size: 17px !important;
  color: #ff0000 !important;
  line-height: 18px !important;
  margin: 5px 0px !important;
}
.list {
  width: 100%;
}
@media (min-width: 600px) and (min-height: 950px) {
  .header-styles {
    --background: #009bd7 !important;
    padding-top: 0px;
    padding-bottom: 10px;
    text-align: center;
  }
  .content-image {
    height: 110px;
  }
  .carro1 {
    max-width: 68%;
    border: 0;
    margin-right: -41px;
  }
  ion-badge {
    color: #046a8f;
    position: absolute;
    --border-radius: 200%;
    top: -1px;
    right: 39px;
    --background: #c9c9c9;
    width: 45px;
    height: 29px;
    font-size: 25px;
  }
  ion-menu-button {
    color: white;
    margin-left: 5%;
    font-size: 50px !important;
  }
  .description_product1 {
    color: #727070 !important;
    line-height: 34px !important;
    text-align: center !important;
    margin-right: 10px !important;
    margin-left: 10px !important;
    display: flex;
    margin: auto;
    font-size: 30px;
  }
  .name_product {
    font-size: 26px !important;
    font-weight: 700 !important;
    color: #727070 !important;
    margin: 5px 0px !important;
    line-height: 30px !important;
  }
  .description_product {
    font-size: 24px !important;
    color: #727070 !important;
    line-height: 18px !important;
    margin: 10px 0px !important;
  }
  .price_product {
    font-size: 29px !important;
    font-weight: 700 !important;
    color: #727070 !important;
    margin: 0px !important;
  }
  .available {
    font-size: 25px !important;
    color: #008000 !important;
    line-height: 18px !important;
    margin: 10px 0px !important;
  }
  .notavailable {
    font-size: 25px !important;
    color: #ff0000 !important;
    line-height: 18px !important;
    margin: 10px 0px !important;
  }
}
