<ion-header class="ion-no-border" mode="ios">
  <div class="div-header">
  <ion-toolbar class="header-styles">
    <ion-title><img class="content-image" src="../../assets/img/LOGOS/LOGOS DRAZAMED_Mesa de trabajo 1.png" alt=""></ion-title>
  </ion-toolbar>
    <ion-buttons class="btn_i">
      <ion-menu-button slot="start" menu="main-menu"></ion-menu-button>
      <ion-button class="carrito" (click)="goCarrito()">
        <img src="../../assets/img/RECURSOS/iconos drazamed-18.png">
      </ion-button>
      <ion-badge>{{ cartItemCount | async }}</ion-badge>
    </ion-buttons>
  </div>
</ion-header>

<ion-content mode="md">
  <div class="searchbar">
      <ion-searchbar autocomplete="on"debounce="1000" [(ngModel)]="searchbarInput" (ionChange)="getItems($event)" placeholder="Busca aquí tus productos"></ion-searchbar>
      <ion-list *ngIf="isItemAvailable" class="list">
        <ion-item  button *ngFor="let med of items " (click)="fillSearchbarText(med.value)">
          <ion-row class="result_search">
            <ion-col size="3" class="align-self img_product">
              <img src={{apiUrl5}}{{med.imgUrl}} class="mx-auto d-block" width="100%">
            </ion-col>
            <ion-col size="9" class="align-self">
               <p class="name_product">{{med.value}}</p>
               <p class="description_product">{{med.composition}}</p>
               <p class="price_product">${{ med.mrp | number}}</p>
                <p *ngIf="med.quantity <= 40" class="notavailable">No disponible</p>
                <p *ngIf="med.quantity > 40" class="available">Disponible</p>
              </ion-col>
          </ion-row>
        </ion-item>
      </ion-list>
    </div>
  <div class="label">
    <ion-label class="description_product1" *ngIf="!isItemAvailable">Escribe el producto que necesitas y el buscador te ayudará a encontrarlo, si esta disponible.</ion-label>
  </div>

  
  <!--<ion-list>
    <ion-item button *ngFor="let med of meds " (click)="verMed(med.value)">{{ med.value }}</ion-item>
</ion-list>-->
</ion-content>

