ion-header {
    --background: #009bd7 !important;
    --ion-background-color-rgb: 0, 155, 215;
    min-width: 100% !important;
    max-width: 100% !important;
}

.header-styles {
    --background: #009bd7 !important;
    padding-top: 30px;
    padding-bottom: -100px;
    text-align: center;
}

.logo-header {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 50%;
}
.content-image {
    max-width: 60%;
    border: 0;
}
ion-content {
    --ion-background-color: #fff;
    --ion-background-color-rgb: 236, 235, 238;
}
.div-header {
    background-color: #009bd7;
    padding-bottom: 0.5%;
    position: static;
}
.txtVolver {
    margin-left: 20px;
    font-size: 25px;
    padding-bottom: 10px;
    color: white;
}
.btn_i {
    padding-top: 5px;
}
.titulo {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 10px !important;
    padding-top: 10px !important;
    background: white;
    text-align: center !important;
}
.title_seccion {
    color: #00a2dd;
    font-size: 24px;
    font-weight: 700;
    margin: 20px 0px;
}
.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}
.result_search {
    background: #f2f2f2 !important;
    padding: 20px 0px !important;
    margin-bottom: 15px;
}
.align-self-center {
    align-self: center !important;
}
.img_product {
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1) !important;
    padding: 10px !important;
    border-radius: 30px !important;
    background-color: #fff !important;
}
.name_product {
    font-size: 19px !important;
    font-weight: 700 !important;
    color: #727070 !important;
    margin: 5px 0px !important;
    line-height: 20px !important;
}
.description_product {
    font-size: 17px !important;
    color: #727070 !important;
    line-height: 18px !important;
    margin: 5px 0px !important;
}
.price_product {
    font-size: 21px !important;
    font-weight: 700 !important;
    color: #727070 !important;
    margin: 0px !important;
}
.trash {
    float: right !important;
    --background: #f2f2f2 !important;
    border-radius: 100% !important;
    width: 100%;
    height: 100%;
    margin-left: 60%;
}
.btn-continue {
    margin-left: auto !important;
    margin-right: auto !important;
    --background: #00a2dd !important;
    font-weight: 600 !important;
    font-size: 17.5px !important;
    width: 75% !important;
    --border-radius: 8px !important;
}
.agregar {
    align-self: center !important;
    padding-top: 20px !important;
    padding-bottom: 30px !important;
}
.btntext {
    text-transform: lowercase !important;
}
@media (min-width: 600px) and (min-height: 950px) {
    .header-styles {
        --background: #009bd7 !important;
        padding-top: 0px;
        padding-bottom: 10px;
        text-align: center;
    }
    .txtVolver {
        margin-left: 30px;
        font-size: 30px;
        padding-bottom: 11px;
        color: white;
        height: 40px;
    }
    .btn_i {
        padding-top: 4px;
        height: 40px;
    }
    .content-image {
        height: 110px;
    }
    .carro1 {
        max-width: 68%;
        border: 0;
        margin-right: -41px;
    }
    .title_seccion {
        color: #00a2dd;
        font-size: 36px;
        font-weight: 700;
        margin: 20px 0px;
    }
    .btn-continue {
        margin-left: auto !important;
        margin-right: auto !important;
        --background: #00a2dd !important;
        font-weight: 600 !important;
        font-size: 27.5px !important;
        width: 75% !important;
        --border-radius: 8px !important;
    }
    .name_product {
        font-size: 25px !important;
        font-weight: 700 !important;
        color: #727070 !important;
        margin: 5px 0px !important;
        line-height: 29px !important;
    }
    .description_product {
        font-size: 21px !important;
        color: #727070 !important;
        line-height: 22px !important;
        margin: 5px 0px !important;
    }
    .price_product {
        font-size: 25px !important;
        font-weight: 700 !important;
        color: #727070 !important;
        margin: 0px !important;
    }
    .basurita {
        max-width: 78%;
        border: 0;
    }
    .img_product {
        box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1) !important;
        padding: 10px !important;
        border-radius: 30px !important;
        background-color: #fff !important;
        max-width: 78% !important;
    }
}
