<!-- Header without a border -->
<ion-header class="ion-no-border" mode="ios">
  <ion-toolbar class="header-styles">
    <ion-title><img  class="content-image" src="../../assets/img/LOGOS/LOGOS DRAZAMED_Mesa de trabajo 1 copia.png" alt=""></ion-title>
  </ion-toolbar>
</ion-header>


<ion-content mode="md">
 <form (ngSubmit)="logForm(form)" [formGroup]="registroForm"  #form="ngForm">
   <div id="container">
     <ion-list>
      <img class="logo-form" src="../../assets/img/LOGOS/LOGOS DRAZAMED-04.png">
      <p>Crear cuenta</p>
      <ion-item>
        <ion-label position="stacked">Documento de identidad</ion-label>
        <ion-input formControlName="documento" type="tel" [(ngModel)]="register.documento" name="documento" ngControl="documento"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Fecha de nacimiento</ion-label>
        <ion-datetime mode="md"formControlName="nacimiento" drag-content="false" (ionChange)="doSomething(this.nacimiento)" displayFormat="DD/MM/YYYY" [(ngModel)]="register.nacimiento" name="nacimiento" ngControl="nacimiento"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Dirección para entrega</ion-label>
        <ion-input formControlName="address" type="text" [(ngModel)]="register.address" name="address" ngControl="address"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Telefono</ion-label>
        <ion-input formControlName="phone" type="tel" [(ngModel)]="register.phone" name="phone" ngControl="phone"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Género</ion-label>
        <ion-select formControlName="genero" placeholder="Seleccionar" [(ngModel)]="register.genero" name="genero" ngControl="genero" mode="ios">
          <ion-select-option>Masculino</ion-select-option>
          <ion-select-option>Femenino</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Convenio</ion-label>
        <ion-select formControlName="convenio" placeholder="Seleccionar" [(ngModel)]="register.convenio" name="convenio" ngControl="convenio" mode="ios">
           <ion-select-option>Ninguno</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Tipo de usuario</ion-label>
        <ion-select>
          <ion-select-option *ngFor="let tipos of user">
            {{tipos}}
          </ion-select-option>
        </ion-select>
      </ion-item>   
      <ion-item>
        <ion-checkbox formControlName="aceptar" [(ngModel)]="accept" name="accept" ngControl="accept"  color="success" mode="ios"></ion-checkbox>
        <ion-label class="label-checkbox">Aceptar términos y condiciones</ion-label>
      </ion-item>
      <div *ngFor="let error of error_messages.aceptar">
        <ng-container *ngIf="registroForm.get('aceptar').hasError(error.type) && 
              (registroForm.get('aceptar').dirty || registroForm.get('aceptar').touched)">
          <small class="error-message" >{{ error.message }}</small>
        </ng-container>
      </div>
     </ion-list>
     <ion-button [disabled]="!registroForm.valid" class="btn-continue" expand="block" (click)="updateD()">ACEPTAR</ion-button>
   </div>
 </form>
</ion-content>
