<!-- Header without a border -->
<ion-header class="ion-no-border">
  <ion-toolbar class="header-styles">
    <ion-title><img  class="content-image" src="../../assets/img/LOGOS/LOGOS DRAZAMED_Mesa de trabajo 1 copia.png" alt=""></ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
    <ion-item>
      <ion-label position="floating">User Name*</ion-label>
      <ion-input formControlName="userName" type="text" required></ion-input>
    </ion-item>

    <small class="error-message" *ngIf="gUserName.hasError('notUnique')" position="stacked">User Name is already taken</small>

    
    <ion-row padding-top>
      <ion-col>
        <ion-button [disabled]="registerForm.invalid" expand="full" type="submit">
          Register
        </ion-button>
        <ion-item lines="none">
          <ion-label size="small">* Required fields</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>

  </form>
</ion-content>
