/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

// estilo barra de busqueda
.searchbar-input {
  font-size: 17.5px !important;
  font-weight: 600 !important;
  border: none !important;
}

@media (max-width: 353px) {
  .searchbar-input {
    font-size: 15px !important;
  }
}
@media (max-width: 323px) {
  .searchbar-input {
    font-size: 13.5px !important;
  }
}

//estilo para alerta
.failed {
  --background: #009bd7 !important;
  --min-width: 80% !important;
  --max-width: 80% !important;
}
.btnalert {
  color: white !important;
  background-color: #015670 !important;
  border-radius: 10px !important;
  margin-bottom: 20px !important;
  min-width: 80% !important;
  max-width: 80% !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
.inputs {
  height: 100px !important;
}
.alert-message {
  color: white !important;
  font-size: 15px !important;
}
.alert-title {
  color: white !important;
}
.alert {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

.alert1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  padding-bottom: 10px;
}
// loading
.loading {
  --background: #009bd7 !important;
  --spinner-color: #fff;
  --min-width: 80%;
  --max-width: 80%;
}
.loading-content {
  font-weight: bold;
  font-size: 20px;
  color: white;
}
@media (min-width: 290px) and (max-width: 359px) {
  .loading-content {
    font-weight: bold;
    font-size: 15px;
    color: white;
  }
}
.loading-wrapper.sc-ion-loading-ios {
  border-radius: 18px;
}
// Swiper slideshow
.swiper-pagination {
  bottom: 4% !important;
  margin-left: -3% !important;
}

@media (min-height: 790px) {
  .swiper-pagination {
    bottom: 30% !important;
    margin-left: -3% !important;
  }
}
@media (min-height: 810px) {
  .swiper-pagination {
    bottom: 37% !important;
    margin-left: -3% !important;
  }
}
@media (min-height: 790px) and (max-height: 900px) {
  .swiper-pagination {
    bottom: 3% !important;
    margin-left: -3% !important;
  }
}
@media (min-height: 900px) and (max-height: 1024px) {
  .swiper-pagination {
    bottom: 1% !important;
    margin-left: -3% !important;
  }
}
@media (min-width: 767px) and (max-width: 800px) {
  .swiper-pagination {
    bottom: 1% !important;
    margin-left: -3% !important;
  }
}

@media (min-width: 600px) and (min-height: 950px) {
  .alert-title {
    color: white !important;
    font-size: 30px;
    font-weight: 600;
    margin-top: 8px;
  }
  .alert-message {
    color: white !important;
    font-size: 25px !important;
  }
  .btnalert {
    color: white !important;
    background-color: #015670 !important;
    border-radius: 10px !important;
    margin-bottom: 20px !important;
    min-width: 80% !important;
    max-width: 80% !important;
    margin-left: auto !important;
    margin-right: auto !important;
    min-height: 70px !important;
    max-height: 70px !important;
  }
  .alert-button.sc-ion-alert-ios:last-child {
    border-right: 0;
    font-weight: bold;
    font-size: 30px;
  }
  .alert-title.sc-ion-alert-ios {
    margin-top: 8px;
    color: var(--ion-text-color, #000);
    font-size: 30px;
    font-weight: 600;
  }
  .loading-content {
    font-weight: bold;
    font-size: 30px;
    color: white;
  }
  textarea.alert-input.sc-ion-alert-ios {
    min-height: 37px;
    resize: none;
    font-size: 25px;
  }
  .searchbar-input {
    font-size: 37px !important;
    font-weight: 600 !important;
    border: none !important;
  }
  .searchbar-search-icon.sc-ion-searchbar-md {
    left: 16px;
    top: 11px;
    width: 33px;
    height: 33px;
  }
  .alert-radio-group.sc-ion-alert-ios, .alert-checkbox-group.sc-ion-alert-ios {
    -ms-scroll-chaining: none;
    overscroll-behavior: contain;
    max-height: 240px;
    border-top: 0.55px solid rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.2);
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    font-size: 25px;
  }
}
