ion-content {
    --ion-background-color:#009ee3;
    --ion-background-color-rgb: 236, 235, 238;
  }
.title{
    font-weight: 600;
    line-height: 1;
    margin-bottom: 1.875em;
    margin-top: 1em;
    text-align: center;
    font-size: 1em;
    color: white;
}