<ion-content>
  <form action="/process_payment" method="post" id="paymentForm">
    <h1 class="title">
      <span>Detalles del comprador</span>
    </h1>
      <div>
        <div>
          <ion-label for="email">E-mail</ion-label>
          <ion-input id="email" name="email" type="text" value="test@test.com"></ion-input>
        </div>
        <div>
          <ion-label for="docType">Tipo de documento</ion-label>
          <ion-select id="docType" name="docType" data-checkout="docType" type="text"></ion-select>
        </div>
        <div>
          <ion-label for="docNumber">Número de documento</ion-label>
          <ion-input id="docNumber" name="docNumber" data-checkout="docNumber" type="text"></ion-input>
        </div>
      </div>
    <h3>Detalles de la tarjeta</h3>
      <div>
        <div>
          <ion-label for="cardholderName">Titular de la tarjeta</ion-label>
          <ion-input id="cardholderName" data-checkout="cardholderName" type="text"></ion-input>
        </div>
        <div>
          <ion-label for="">Fecha de vencimiento</ion-label>
          <div>
            <ion-input type="text" placeholder="MM" id="cardExpirationMonth" data-checkout="cardExpirationMonth"
              onselectstart="return false" onpaste="return false"
              oncopy="return false" oncut="return false"
              ondrag="return false" ondrop="return false" autocomplete=off></ion-input>
            <span class="date-separator">/</span>
            <ion-input type="text" placeholder="YY" id="cardExpirationYear" data-checkout="cardExpirationYear"
              onselectstart="return false" onpaste="return false"
              oncopy="return false" oncut="return false"
              ondrag="return false" ondrop="return false" autocomplete=off></ion-input>
          </div>
        </div>
        <div>
          <ion-label for="cardNumber">Número de la tarjeta</ion-label>
          <ion-input type="text" id="cardNumber" data-checkout="cardNumber"
            onselectstart="return false" onpaste="return false"
            oncopy="return false" oncut="return false"
            ondrag="return false" ondrop="return false" autocomplete=off></ion-input>
        </div>
        <div>
          <ion-label for="securityCode">Código de seguridad</ion-label>
          <ion-input id="securityCode" data-checkout="securityCode" type="text"
            onselectstart="return false" onpaste="return false"
            oncopy="return false" oncut="return false"
            ondrag="return false" ondrop="return false" autocomplete=off></ion-input>
        </div>
        <div id="issuerInput">
          <ion-label for="issuer">Banco emisor</ion-label>
          <ion-select id="issuer" name="issuer" data-checkout="issuer"></ion-select>
        </div>
        <div>
          <ion-label for="installments">Cuotas</ion-label>
          <ion-select type="text" id="installments" name="installments"></ion-select>
        </div>
        <div>
          <ion-input type="hidden" name="transactionAmount" id="transactionAmount" value="100"></ion-input>
          <ion-input type="hidden" name="paymentMethodId" id="paymentMethodId"></ion-input>
          <ion-input type="hidden" name="description" id="description"></ion-input>
          <br>
          <ion-button type="submit">Pagar</ion-button>
          <br>
        </div>
    </div>
  </form>
</ion-content>
