ion-header {
  --background: #009bd7!important;
  --ion-background-color-rgb: 0,155,215;
}

.header-styles{
  --background: #009bd7!important;
  padding-top:15px;
  padding-bottom:-100px;
}

.logo-header{
  padding-top: 20px;
  padding-bottom: 20px;
  width: 50%;    
}

ion-content{
  --ion-background-color: #fff;
  --ion-background-color-rgb: 236, 235, 238;
}

.carrito{
  width: 15%;
  margin-left: 63%;
}

.div-header{
  background-color: #009bd7;
  padding-bottom: 5%;
}

ion-menu-button{
  color: white;
  margin-left: 5%;
}

ion-searchbar {
  --icon-color: #fff; 
  --background: #00a2dd !important;
  --border-radius: 20px !important;
  --placeholder-color: #fff !important;
  --placeholder-opacity: 1;
 }

 .title_seccion{
  color: #00a2dd;
  font-size: 24px;
  font-weight: 700;
  margin: 12px 0px;
  margin-left: 4%;
  padding-top: -4%;
}

.btn_category{
  --background: #015670 !important;
  padding: 10px 10px !important;
  --border-radius: 15px !important;
  color: #fff !important;
  margin-bottom: 10px !important;
  text-align: center !important;
  font-size: 10.5px !important;
  font-weight: 600 !important;
  min-height: 90px !important;
  max-width: 155px !important;
  min-width: 155px !important;
 max-height: 90px !important;
}

.banner{
  width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px !important;
    margin-top: 20px !important;
}
.inner{
  position: relative;
    width: 100%;
    overflow: hidden;
}
.img_banner{
  border-radius: 20px;
  margin-bottom: 10px;
}
ion-slides {
  --bullet-background: #232424;
  --bullet-background-active: #009bd7;
}
.container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}
.product{
  margin-bottom: 30px !important;
}
.card_product{
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1) !important;
  padding: 20px !important;
  border-radius: 20px !important;
  margin-bottom: 15px !important;
}
.price_product{
  font-size: 21px !important;
  font-weight: 700 !important;
  color: #727070 !important;
  margin: 0px !important;
}
.name_product{
  font-size: 19px !important;
  font-weight: 700 !important;
  color: #727070 !important;
  margin: 5px 0px !important;
  line-height: 20px !important;
}
.description_product{
  font-size: 17px !important;
  color: #727070 !important;
  line-height: 18px !important;
  margin: 5px 0px !important;
}
.btn_product{
  --background: #00a2dd !important;
  padding: 10px !important;
  --border-radius: 15px !important;
  color: #fff !important;
  margin-bottom: 15px !important;
  text-align: center !important;
  font-size: 10px !important;
  font-weight: 600 !important;
  height: 50px !important;
  width: 102% !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.scrolli{
  background: #fff;
}

@media (max-width: 360px) {
  .textadjust{
      font-size: 10px !important;
  }
}
@media (min-width: 373px) {
  .textadjust{
      font-size: 10px !important;
  }
}
@media (max-width: 340px) {
  .price_product{
    font-size: 16px !important;
  }
  .description_product{
    font-size: 14px !important;
  }
  .name_product{
    font-size: 16px !important;
  }
}




