ion-header{
  --background: #009bd7!important;
  --ion-background-color-rgb: 0,155,215;
}

.header-styles{
  --background: #009bd7!important;
  padding-top:20px;
  padding-bottom:10px;
}

.logo-header{
  padding-top: 20px;
  padding-bottom: 20px;
  width: 50%;    
}

ion-content{
  --ion-background-color: #ecebee;
  --ion-background-color-rgb: 236, 235, 238;
}

.img-profile{
  width: 17%;
  margin-top: 5%;
}

#container{
  margin-left: auto!important;
  margin-right: auto!important;
  max-width: 90%;
}

.user{
  margin-bottom: 5%;
}

.username{
  margin-left: 3.4vw;
  position: absolute;
  top: 6%;
  -ms-transform: translateY(-50%); /* IE 9 */
  -webkit-transform: translateY(-50%); /* Chrome, Safari, Opera */
  transform: translateY(-50%);
  color:#87878a;
  font-weight: bold;
  font-style: italic;
}

.ion-text-left{
  margin-right: auto;
}

.buttons{
  --background:#fff;
  color:#87878a;
  margin-bottom:3%;
}

.button-logos{
  width: 7%;
  margin-right:3%;
}
