<ion-header class="ion-no-border" mode="ios">
  <div class="div-header">
  <ion-toolbar class="header-styles">
    <ion-title><img class="content-image" src="../../assets/img/LOGOS/LOGOS DRAZAMED_Mesa de trabajo 1.png" alt=""></ion-title>
  </ion-toolbar>
    <ion-buttons class="btn_i">
      <ion-menu-button slot="start" menu="main-menu"></ion-menu-button>
      <ion-button class="carrito" (click)="goCarrito()">
        <img src="../../assets/img/RECURSOS/iconos drazamed-18.png" >
      </ion-button>
      <ion-badge>{{ cartItemCount | async }}</ion-badge>
    </ion-buttons>
  </div>
</ion-header>

<ion-content mode="md">
<div class="searchbar">
  <ion-grid>
    <ion-button expand="block" class="btn-continue" (click)="buscarMed()"><ion-icon class="search" name="search-outline"></ion-icon>
      <div class="letra"><p class="btntext"><first-letter>B</first-letter>usca aquí tus productos</p></div></ion-button>
   </ion-grid>
</div>
<div class="container">
  <p class="title_seccion">Categorías</p>
<div class="categorias">
  <ion-grid class="grid-categorias">
    <ion-row>
      <ion-col size="12">
        <ion-segment scrollable class="scrolli">
          <ion-button class="btn_category ion-text-wrap textadjust" *ngFor="let data of items2" (click)="goCat(data.group)">{{ data.group }}</ion-button>
        </ion-segment>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
</div>

<div class="container">
<ion-slides pager="true" [options]="sliderOpts" #mySlider mode="ios">
<ion-slide>
<div class="banner">
  <div class="inner">
<img src="../../assets/img/RECURSOS/img_banner.jpg" class="img_banner"alt="">
  </div>
</div>
</ion-slide>

<ion-slide>
  <div class="banner">
    <div class="inner">
  <img src="../../assets/img/RECURSOS/img_banner.jpg" class="img_banner"alt="">
    </div>
  </div>
  </ion-slide>

  <ion-slide>
    <div class="banner">
      <div class="inner">
    <img src="../../assets/img/RECURSOS/img_banner.jpg" class="img_banner"alt="">
      </div>
    </div>
    </ion-slide>
</ion-slides>
</div>

<div class="container">
<p class="title_seccion">Ofertas</p>
<div class="categorias">
<ion-grid>
  <ion-row>
    <ion-col size="6">
         <div class="product">
           <ion-card class="card_product">
            <div>
              <div class=" align-self-center pt-10 pb-10">
                  <img src="../../assets/img/RECURSOS/dolex.jpeg" alt="" class="img-fluid">
              </div>
              <div class="align-self-center">
                <ion-card-title class="price_product pt-20">$000.00</ion-card-title>
                  <p class="name_product">Nombre</p>
                
                  <p class="description_product">Lorem ipsum dolor sit amet.</p>
              </div>
          </div>
          <ion-button class="btn_product">Agregar</ion-button>
           </ion-card>
         </div>
    </ion-col>
  </ion-row>
</ion-grid>
</div>
</div>
<div class="container">
  <p class="title_seccion">Nuestros productos</p>
  <div class="categorias">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
           <div class="product" >
            <ion-segment scrollable class="scrolli">
             <ion-card class="card_product" color="light" *ngFor="let datas of items4"> 
              <div class="elementos">
                <div class=" align-self-center pt-10 pb-10">
                    <img src={{apiURL3}}{{datas.url_img}} alt="" class="img-fluid">
                </div>
                <div class="align-self-center">
                  <ion-card-title class="price_product pt-20">${{datas.mrp | number}}</ion-card-title>
                    <p class="name_product ion-text-wrap textadjust">{{datas.name}}</p>      
                    <p class="description_product ">{{datas.composition}}</p>
                  </div>
                </div>
                <ion-button class="btn_product" (click)="addToCart(datas)">Agregar</ion-button> 
             </ion-card>
            </ion-segment>
           </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
  </div>
</ion-content>
