<ion-header class="ion-no-border">
  <ion-toolbar class="header-styles">
    <ion-title><img class="content-image" src="../../assets/img/LOGOS/LOGOS DRAZAMED_Mesa de trabajo 1.png" alt=""></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <div class="user">
      <img class="img-profile" src="../../assets/img/RECURSOS/iconos drazamed-24.png" alt=""><span class="username">¡Hola Ana!</span>
    </div>
    <ion-button class="buttons" expand="full"><img class="button-logos" src="../../assets/img/RECURSOS/iconos drazamed-cc-05.png"><span class="ion-text-left">Inicio</span></ion-button>
    <ion-button class="buttons" expand="full"><img class="button-logos" src="../../assets/img/RECURSOS/iconos drazamed-cc_Mesa de trabajo 1.png"><span class="ion-text-left">Mi perfil</span></ion-button>
    <ion-button class="buttons" expand="full"><img class="button-logos" src="../../assets/img/RECURSOS/iconos drazamed-cc-03.png"><span class="ion-text-left">Buscar medicamentos</span></ion-button>
    <ion-button class="buttons" expand="full"><img class="button-logos" src="../../assets/img/RECURSOS/iconos drazamed-cc-07.png"><span class="ion-text-left">Mis pedidos</span></ion-button>
    <ion-button class="buttons" expand="full"><img class="button-logos" src="../../assets/img/RECURSOS/iconos drazamed-cc-09.png"><span class="ion-text-left">Pastillero - Organiza tus alarmas</span></ion-button>
    <ion-button class="buttons" expand="full"><img class="button-logos" src="../../assets/img/RECURSOS/iconos drazamed-cc-32.png"><span class="ion-text-left">Mis direcciones</span></ion-button>
    <ion-button class="buttons" expand="full"><img class="button-logos" src="../../assets/img/RECURSOS/iconos drazamed-cc-11.png"><span class="ion-text-left">Mensajes / PQRs</span></ion-button>
    <ion-button class="buttons" expand="full"><img class="button-logos" src="../../assets/img/RECURSOS/iconos drazamed-11.png"><span class="ion-text-left">Ajustes</span></ion-button>
    <ion-button class="buttons" expand="full"><img class="button-logos" src="../../assets/img/RECURSOS/iconos drazamed-cc-15.png"><span class="ion-text-left">Acerca de Drazamed</span></ion-button>
    <ion-button class="buttons" expand="full"><img class="button-logos" src="../../assets/img/RECURSOS/iconos drazamed-cc-17.png"><span class="ion-text-left">Cerrar sesión</span></ion-button>
  </div>
</ion-content>
