ion-header {
  --background: #009bd7!important;
  --ion-background-color-rgb: 0,155,215;
}

.header-styles{
  --background: #009bd7!important;
  padding-top:15px;
  padding-bottom:-100px;
}

.logo-header{
  padding-top: 20px;
  padding-bottom: 20px;
  width: 50%;    
}

ion-content{
  --ion-background-color: #eeeef1;
  --ion-background-color-rgb: 236, 235, 238;
}

.carrito{
  width: 14% ;
    height: 14% ;
    border-radius: 100% !important;
    margin-left: 65%;
    margin-bottom: 2% !important;
}
.btn_i{
padding-top: 5px;
}
.div-header{
  background-color: #009bd7;
  padding-bottom: 0.5%;
}

ion-menu-button{
  color: white;
  margin-left: 5%;
}

ion-searchbar {
  --icon-color: #fff; 
  --background: #00a2dd !important;
  --border-radius: 20px !important;
  --placeholder-color: #fff !important;
  --placeholder-opacity: 1;
 }

 .title_seccion{
  color: #00a2dd;
  font-size: 24px;
  font-weight: 700;
  margin: 12px 0px;
  margin-left: 4%;
  padding-top: -4%;
}

.btn_category{
  --background: #015670 !important;
  padding: 5px 10px !important;
  --border-radius: 15px !important;
  color: #fff !important;
  margin-bottom: 10px !important;
  text-align: center !important;
  font-size: 10.5px !important;
  font-weight: 600 !important;
  min-height: 90px !important;
  max-width: 155px !important;
  min-width: 155px !important;
 max-height: 90px !important;
}

.banner{
  width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px !important;
    margin-top: 5px !important;
}
.inner{
  position: relative;
    width: 100%;
    overflow: hidden;
}
.img_banner{
  border-radius: 20px;
  margin-bottom: 10px;
}
ion-slides {
  --bullet-background: #232424;
  --bullet-background-active: #009bd7;
}
.container{
    width: 100%;
    padding-right: 1px;
    padding-left: 1px;
    margin-right: auto;
    margin-left: auto;
    margin-top: -18px !important;
   background: #eeeef1;
}
.product{
  margin-bottom: 30px !important;
 
}
.card_product{
  padding: 20px !important;
  border-radius: 20px !important;
  margin-bottom: 15px !important;
  min-width: 50% !important;
  max-width: 50% !important;
}
.price_product{
  font-size: 20px !important;
  font-weight: 700 !important;
  color: #727070 !important;
  margin: 0px !important;
}
.name_product{
  font-size: 100% !important;
  font-weight: 1000 !important;
  color: #535353 !important;
  margin: 5px 0px !important;
  line-height: 20px !important;
}
.description_product{
  font-size: 100% !important;
  color: #727070 !important;
  line-height: 18px !important;
  margin: 5px 0px !important;
  text-transform: lowercase !important;
}
.btn_product{
  --background: #00a2dd !important;
  padding: 10px !important;
  --border-radius: 15px !important;
  color: #fff !important;
  margin-bottom: 15px !important;
  text-align: center !important;
  font-size: 10px !important;
  font-weight: 600 !important;
  height: 50px !important;
  width: 102% !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.scrolli{
  background: #eeeef1;
}

@media (max-width: 360px) {
  .textadjust{
      font-size: 10px !important;
  }
}
@media (min-width: 373px) {
  .textadjust{
      font-size: 10px !important;
  }
}
@media (max-width: 340px) {
  .price_product{
    font-size: 16px !important;
  }
}
.img-fluid{
  height: 100px !important;
}
.categorias{
  margin-top: -23px !important;
  background: #eeeef1;
}
ion-grid{
  width: 100%;
  padding-right: 1px;
  padding-left: 1px;
  margin-right: auto;
  margin-left: auto;
  background: #eeeef1;
}
.searchbar{
  margin-top: -2px !important;
}
.elementos{
  min-height: 260px !important;
  max-height: 260px !important;
}
.btn-continue{
  margin-left: auto!important;
  margin-right: auto!important;
  --background: #00a2dd!important;
  font-weight: 600 !important;
  font-size: 17.5px !important;
  width: 95% !important;
  --border-radius: 20px!important;
  height: 41px !important;
}
@media (max-width: 353px) {
  .btn-continue{
    margin-left: auto!important;
    margin-right: auto!important;
    --background: #00a2dd!important;
    font-weight: 600 !important;
    font-size: 15px !important;
    width: 95% !important;
    --border-radius: 20px!important;
    height: 41px !important;
  }
}
@media (max-width: 323px) {
  .btn-continue{
    margin-left: auto!important;
    margin-right: auto!important;
    --background: #00a2dd!important;
    font-weight: 600 !important;
    font-size: 13.5px !important;
    width: 95% !important;
    --border-radius: 20px!important;
    height: 41px !important;
  }
}
.btntext{
  text-transform: lowercase !important;
}
.btntext::first-letter{
  text-transform: uppercase !important;
}
.search{
  margin-right: 35px ;
}
ion-icon{
  min-width: 21px;
  max-width: 21px;
  margin-left: -40px;
}
.letra{
  margin-left: -20px;
}
@media (max-width: 350px){
  .letra{
    margin-left: -20px;
  }
  ion-icon{
    margin-left: -5px;
  }
}
ion-badge {
  color: #046a8f;
  position: absolute;
  --border-radius: 200%;
  top: -1px;
right: 15px;
--background: #c9c9c9;
width: 24px ;
height: 20px;
font-size: 16px;
}
@media (min-width:400px) and (max-width:417px) {
  ion-badge {
    color: #046a8f;
    position: absolute;
    --border-radius: 200%;
    top: -1px;
  right: 21px;
  --background: #c9c9c9;
  width: 24px ;
  height: 20px;
  font-size: 16px;
  }
}
@media (min-width:320px) and (max-width:336px) {
  ion-badge {
    color: #046a8f;
    position: absolute;
    --border-radius: 200%;
    top: -1px;
  right: 5px;
  --background: #c9c9c9;
  width: 24px ;
  height: 20px;
  font-size: 16px;
  }
}
@media (min-width:337px) and (max-width:350px) {
  ion-badge {
    color: #046a8f;
    position: absolute;
    --border-radius: 200%;
    top: -1px;
  right: 10px;
  --background: #c9c9c9;
  width: 24px ;
  height: 20px;
  font-size: 16px;
  }
}
.available{
  font-size: 17px !important;
  color: #008000 !important;
  line-height: 18px !important;
  margin: 5px 0px !important;
}
.notavailable{
  font-size: 17px !important;
  color: #ff0000 !important;
  line-height: 18px !important;
  margin: 5px 0px !important;
}