<ion-header class="ion-no-border" mode="ios">
  <div class="div-header">
  <ion-toolbar class="header-styles">
    <img class="content-image" src="../../../assets/img/LOGOS/LOGOS DRAZAMED_Mesa de trabajo 1.png" alt="">
  </ion-toolbar>
    <ion-buttons>
      <ion-button slot="start" class="icono" (click)="goHome()">
        <ion-icon size="large" name="chevron-back-outline"></ion-icon>
      </ion-button>
      <ion-button class="carrito" (click)="goPerfil">
        <img src="../../../assets/img/RECURSOS/iconos drazamed-cc-38.png" class="carro1">
      </ion-button>
    </ion-buttons>
  </div>
</ion-header>

<ion-content mode="md">
<div class="container">
  <p class="title_seccion center">Progreso del tratamiento</p>
  <ion-row class="result_search">
    <div class="select_options">
      <ion-col size="12" class="align-self">
        <div *ngIf="alarma.imagen === false" >
          <img src={{base_url}}{{apiImg}}{{alarma.item_code}}{{apiUrl8}} class="mx-auto d-block" width="40%">
        </div>
        <div *ngIf="alarma.imagen === true" >
          <img src={{base_url}}{{imgUrl}} class="mx-auto d-block" width="40%">
        </div>
      </ion-col>
    </div>
    <div class="select_options">
      <ion-col size="12">
        <p class="name_product">{{alarma.item_name}}</p>
        <p class="description_product mt-20">{{alarma.composition}}</p>
        <p class="description_product mt-20">
          <b>{{alarma.dosis}} Tableta(s) cada {{alarma.frequency}} Horas</b>
        </p>
      </ion-col>
    </div>
    <div class="select_options center">
      <ion-row>
        <ion-col size="4">
          <p class="name_product" *ngIf="alarma.next_date !== null">Próxima</p>
          <p class="description_product mt-20" *ngIf="alarma.next_date !== null">{{fecha}} {{alarma.next_time}}</p>
          <p class="name_product2" *ngIf="alarma.next_date === null">Fin del tratamiento</p>
        </ion-col>
        <ion-col size="4" class="col-item">
          <p class="name_product">Tomadas</p>
          <p class="description_product mt-20">{{taken}} {{alarma.units}}</p>
        </ion-col> 
        <ion-col size="4" class="col-item">
          <p class="name_product">Faltan</p>
          <p class="description_product mt-20">{{faltantes}} {{alarma.units}}</p>
        </ion-col> 
      </ion-row>
    </div>
  </ion-row>
  <ion-row>
    <ion-col size="7">
      <circle-progress
  [percent]="porcentaje"
></circle-progress>
    </ion-col>
    <ion-col size="5" class="col-txt">
      <p class="name_product1" *ngIf="restante !== 0">Te falta el {{restante}}% de tu tratamiento médico.</p>
      <p class="name_product1" *ngIf="restante === 0">Tu tratamiento ha finalizado</p>
    </ion-col>
  </ion-row>
</div>
</ion-content>