<!-- Header without a border -->
<ion-header class="ion-no-border" mode="ios">
  <ion-toolbar class="header-styles">
    <ion-title><img  class="content-image" src="../../assets/img/LOGOS/LOGOS DRAZAMED_Mesa de trabajo 1 copia.png" alt=""></ion-title>
  </ion-toolbar>
</ion-header>


<ion-content mode="ios">
  <form #form="ngForm"  novalidate>
    <div id="container">
      <ion-list>
      <img class="logo-form" src="../../assets/img/LOGOS/LOGOS DRAZAMED-04.png">
      <p>Iniciar sesión</p>
      <ion-item>
        <ion-input type="email" [(ngModel)]="credentials.email" name="email" ngControl="email" placeholder="Usuario"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="password" [(ngModel)]="credentials.password" name="password" ngControl="password" placeholder="Contraseña"></ion-input>
      </ion-item>
      <!--<ion-item *ngFor="let item of items">
        <h2>{{item.result.status}}</h2>
      </ion-item>-->
      <ion-item>
        <ion-checkbox [(ngModel)]="accept" name="accept" ngControl="accept"  color="success" mode="ios"></ion-checkbox>
        <ion-label class="label-checkbox">Recordar</ion-label><a class="link" href="./forgottenpassword">Olvide la contraseña</a>
      </ion-item>
      <ion-button class="btn-continue" expand="block"  (click)="login()">INGRESAR</ion-button>
    </ion-list>
    </div>
  </form>
 <ion-button (click)="save()">save</ion-button>
 <ion-button (click)="retrieve()">retrieve</ion-button>
</ion-content>
